
.rows {
    display: flex;
    justify-content: center;
}

.wordcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
}
  
.box {
    width: 60px; 
    height: 60px; 
    margin: 2px;
    font-size: 40px; 
    text-align: center;
    caret-color: white;
  }
  
  .title {
    font-size: 60px;
  }
  
  .submit {
    font-size: 1rem; 
    padding: 8px 16px;
  }
  