
.row {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.box {
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: lightgray;
    font-size: 60px;
    text-align: center;
}
  
.title {
    font-size: 80px;
    font-family: monospace;
}